@model Poster

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <title>title</title>
</head>
<body>
<div>
    <style>
        .form {
            background: #ccc;
            position: fixed;
            top: 50%;
            left: 50%;
            -webkit-transform: translate(-50%, -50%);
            -ms-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
            resize: none;
        }
    </style>
    <div class="form">
        <h3>Creating a new poster</h3>
        <form method="post">
            <input type="text" name="title" value="" />
        </form>
    </div>
</div>
</body>
</html>