@model Poster

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <title>title</title>
</head>
<body>
<div>
    <form name="text">
        <input type="text">
    </form>
</div>
</body>
</html>