@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap');

* {
    padding: 0;
    margin: 0;
    font-family: 'Roboto', sans-serif;
}

body {
    height: 100vh;
    width: 100vw;
    display: flex;
    flex-direction: row;
    background-image: url("/images/background-main-page.svg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    cursor: none;
    overflow: hidden;
}

a{
    text-decoration: none;
    color: black;
    cursor: none;   
}

ul{
    list-style: none;
}

::-webkit-scrollbar {
    width: 0;
}

.sidebar {
    position: absolute;
    height: 95vh;
    width: 270px;
    color: #E8E9EA;
    margin-top: 2.2vh;
    margin-left: 1vh;
    border-radius: 10px;
    background-position: initial;
    background-repeat: no-repeat;
    display: none;
    flex-direction: column;
    border-radius: 30px;

    box-shadow: 0 25px 40px rgba(0, 0, 0, 0.4);
    background: transparent;
    backdrop-filter: blur(20px);

    z-index: 10;
}

.sidebar-body {
    flex: 0.9;
    border-radius: 10px 10px 0 0;

    display: flex;
    flex-direction: column;
    padding: 10px;
    padding-top: 20px;
}

.sidebar-body-content{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.active {
    background-color: rgba(255, 255, 255, .3);
    border-radius: 5px;
}

.option{
    width: 100%;
    height: 40px;
    display: flex;
    align-items: center;
    transition: .3s all ease;
    margin: 2px 0;
}

.option:hover {
    background-color: rgba(255, 255, 255, .2);
    border-radius: 5px;
}

.option a{
    color: white;
}

.icon{
    margin: 0 10px;
    width: 20px;
    height: 20px;
}

.icon.settings{
    width: 25px;
    height: 25px;
}

.profile-settings{
    display: flex;
    justify-content: center;
    align-content: center;
}

.sidebar-bottom {
    flex: 0.1;
    border-radius: 0 0 10px 10px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-direction: row;
    padding: 0 0 10px 10px;
}

.login-button {
    padding: 1rem;

    width: 150px;

    text-align: center;
    margin: 0 auto;
    border-radius: -30px;

    text-transform: uppercase;

    transition: .4s all ease;
}

.login-button:focus {
        outline: none;
    }

.login-button:hover {
        box-shadow: 0 25px 50px rgba(0, 0, 0, 0.6);
        background: transparent;
        border-radius: 35px;
        backdrop-filter: blur(10px);
}

.profile-picture{
    width: 50px;
    height: 50px;
    background-image: url("/images/avatar-placeholder.jpg");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    border-radius: 100%;
}

.profile-information{
    display: flex;
    flex-direction: column;
    margin-top: 5px;
}

.name-surname{
    font-size: 1rem;
    color: white;
}

.view-profile{
    font-size: .8rem;
    color: white;
}


.content-section {
    width: 100vw;
    height: calc(100vh - 2rem);
    padding-top: 1rem;
    padding-left: 20rem;
    color: white;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

main {
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
    width: 100vw;
    height: calc(100vh - 2rem);
    padding-top: 2rem;
    padding-left: 20rem;

    overflow-y: auto;
}


.poster {
    margin: 0 1rem;
    width: 250px;
    height: 200px;
    padding: 2rem;
    box-shadow: 0 25px 50px rgba(0, 0, 0, 0.2);
    background: transparent;
    backdrop-filter: blur(10px);
    border-radius: 30px;
    color: white;

    display: flex;
    flex-direction: column;
    justify-content: space-between;

    transition: .3s ease all;
}

.poster-buttons {
    display: flex;
    justify-content: space-around;
}

.view-poster {
    margin-top: 1rem;
    border: none;
    background-color: transparent;
    color: white;
    text-align: center;
    text-transform: uppercase;
    border: 1px solid white;
    border-radius: 35px;
    width: 100px;
    transition: all .4s ease;

    display: flex;
    justify-content: center;
    align-items: center;
}

.view-poster:hover {
    background-color: white;
    color: black;
}

.subscribe-button {
    margin-top: 1rem;
    border: none;
    width: 100px;
    background-color: transparent;
    color: #6dde40;
    text-transform: uppercase;
    padding: .7rem;
    border-radius: 35px;
    border: 1px solid #6dde40;
    transition: all .4s ease;
}

.subscribe-button:hover {
    background-color: #6dde40;
    color: white;
}

.settings {
    transition: .7s ease;
}

@media only screen
and (min-device-width: 769px)
and (max-device-width: 1920px) {
    .hamburger-menu {
        display: none;
    }
    .sidebar-mobile {
        display: none;
    }
}


 /* ---------------------------------- MOBILE MAIN PAGE ---------------------------------- */
@media only screen
and (min-device-width: 375px)
and (max-device-width: 667px)
and (-webkit-min-device-pixel-ratio: 2)
and (orientation: portrait) {
    html,body {
        height: 100vh !important;
    }

    .sidebar {
        display: none;
    }

    .hamburger-menu {
        position: absolute;
        top: 20px;
        left: 20px;
    }

    .hamburger-menu i {
        font-size: 1.3rem;
        color: white;
    }

    .content-section {
        padding-left: 0;
    }

    .sidebar-mobile {
        position: absolute;
        left: -400px;
        margin-top: 0.5vh;
        height: 99vh;
        width: 95vw;
        box-shadow: 0 25px 40px rgba(0, 0, 0, 0.4);
        background: transparent;
        backdrop-filter: blur(20px);
        z-index: 100;
        display: flex;
        flex-direction: column;
        border-radius: 0 30px 30px 0;
        transition: all .3s ease;
        z-index: 10;
    }

    .sidebar-mobile-body {
        flex: 0.9;
    }

    .sidebar-mobile-bottom {
        flex: 0.1;
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin: 0 1rem;
    }

    .sidebar-mobile-body-content {
        margin-top: 1rem;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
    }

    .option {
        width: 80%;
        margin-left: 1rem;
    }

    .user {
        display: flex;
        align-items: center;
    }

    .profile-information {
        margin-left: 1rem;
    }

    main {
        display: block;
        height: calc(100vh - 10rem);
        margin-top: 4rem;
        margin-left: 2rem;
    }

    .close-menu {
        position: absolute;
        top: 29px;
        right: 10px;
    }

}



/* ---------------------------------------------- EDIT PROFILE ---------------------------------------------- */
.editing {
    width: 100vw;
    height: 100vh;




    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}

.information {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: flex-start;
}

.editing-desktop {
    display: flex;
    justify-content: center;
    align-items: center;
}

#editing-form {
    width: 400px;
    padding: 2rem;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    color: white;
    border-radius: 30px;
    box-shadow: 0 25px 50px rgba(0, 0, 0, 0.2);
    background: transparent;
    backdrop-filter: blur(10px);
    transition: 0.5s;
}

.editing-form-wrapper {
    height: 450px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.editing-form-wrapper h2 {
    color: white;
    text-align: center;
    font-size: .8rem;
    letter-spacing: 1.1rem;
    margin-bottom: 1.4rem;
}

    .first-information,
    .second-information {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: flex-start;
    }

.editing-button {
    margin-top: 1.3rem;
    border: none;
    width: 120px;
    height: 50px;
    padding: 0 1rem;
    text-align: center;
    background-color: transparent;
    color: white;
    font-weight: 800;
    text-transform: uppercase;
    letter-spacing: 7px;
    transition: 0.5s;

}

.editing-button:focus {
    outline: none;
}

.editing-button:hover {
    box-shadow: 0 25px 50px rgba(0, 0, 0, 0.4);
    background: transparent;
    border-radius: 35px;
    backdrop-filter: blur(10px);
}

.input-option {
    margin: 1rem 0;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}

.input-option input {
    border: none;
    padding: 1rem;
    height: 7px;
    transition: .3s ease;
    border-radius: 30px;
}

.input-option label {
    margin-left: .7rem;
}

.input-option input:focus {
    outline: none;
}

.input-option input::placeholder {
    transition: .3s ease;
}

.input-option input:focus::placeholder {
    opacity: 0;
}

.profile-avatar {
    margin: 0 auto;
    width: 200px;
    height: 200px;
    border-radius: 100%;
    object-fit: contain;
    background-image: url("/images/avatar-placeholder.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    box-shadow: 0 25px 50px rgba(0, 0, 0, 0.4);
}

.input-option.readonly input {
    background-color: rgba(0, 0, 0, .5);
    color: white;
}

.editing-desktop {
    display: none;
}

.editing-mobile {
    display: none;
}

.weather {
    display: none;
}

/* --------------------------------------------- MOBILE EDIT PAGE --------------------------------------------- */
@media only screen and (min-device-width: 375px) and (max-device-width: 667px) and (-webkit-min-device-pixel-ratio: 2) and (orientation: portrait) {
    #editing-form {
        width: 200px;
        flex-direction: column;
    }

    body {
        background-image: url("/images/mobile-background.svg");
        background-position: center;
        background-size: cover;

        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .editing {
        height: calc(100% - 3rem);
        background: none;
        width: 100%;
    }

    .profile-avatar {
        width: 150px;
        height: 150px;
        transform: translateY(-3rem);
    }

    .editing-button {
        margin: 0;
        transform: translateY(4.2rem);
    }
}


/* --------------------------------------------- POSTER CREATION --------------------------------------------- */
.poster-creation-wrapper {
    width: 600px;
    height: 600px;
    box-shadow: 0 25px 50px rgba(0, 0, 0, 0.2);
    background: transparent;
    backdrop-filter: blur(10px);
    border-radius: 30px;
    color: white;
    margin-right: 3.5rem;

    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

.create-poster-heading {
    font-weight: 700;
    font-size: 1.7rem;
    margin-top: 1rem;
}

.create-poster-form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}

.poster-item {
    display: flex;
    flex-direction: column;
    margin: .5rem 0;
}

.poster-item input,
.poster-item select,
.poster-item textarea {
    border-radius: 30px;
    border: none;
    padding: 10px 20px;
    box-shadow: 0 5px 5px rgba(0, 0, 0, 0.25);
    background: transparent;
    backdrop-filter: blur(10px);
    color: white;
}

.poster-item input:focus,
.poster-item select:focus,
.poster-item textarea:focus {
    outline: none;
}


label:hover {
    cursor: none;

}

button:hover {
    cursor: none;
}

.poster-item label {
    margin-bottom: 8px;
    margin-left: 10px;
}

.poster-type select {
    cursor: none;
}

.poster-type option {
    color: black;
}

.create-poster-button {
    border: none;
    width: 120px;
    height: 50px;
    padding: 0 1rem;
    text-align: center;
    margin: 0 auto;
    background-color: transparent;
    color: white;
    font-weight: 800;
    text-transform: uppercase;
    letter-spacing: 7px;
    transition: 0.5s;
}

.create-poster-button:hover {
    box-shadow: 0 25px 50px rgba(0, 0, 0, 0.4);
    background: transparent;
    backdrop-filter: blur(10px);
    border-radius: 35px;
}

.create-poster-button:focus {
    outline: none;
}

::-webkit-calendar-picker-indicator {
    filter: invert(1);
    cursor: none;
}

input:hover {
    cursor: none;
}

textarea:hover {
    cursor: none;
}

/* ----- Cursor ----- */

#cursor, #aura {
    position: absolute;
    border-radius: 100%;
    user-select: none;
    pointer-events: none;
    z-index: 10000;
}

#cursor {
    width: 8px;
    height: 8px;
    background-color: rgba(255,255,255, .5);
}

#aura {
    width: 36px;
    height: 36px;
    border: 1px solid rgba(255,255,255, .2);
    background-color: rgba(255,255,255,.027);
    animation-timing-function: ease-in-out;
    transition: transform .3s ease-in-out;
}

.auraAnimationClick {
    animation: auraAnimClick .5s forwards;
}

.auraAnimationHoverLink {
    animation: auraAnimHoverLink .5s forwards;
}

/* ----- Animations ----- */

/* --- Cursor animations --- */
@keyframes auraAnimClick {
    0% {
        transform: scale(1);
        background-color: rgba(255,255,255,.027);
    }

    50% {
        transform: scale(1.15);
        background-color: rgba(255,255,255,.047);
    }

    100% {
        transform: scale(1);
        background-color: rgba(255,255,255,.027);
    }
}

@keyframes auraAnimHoverLink {
    0% {
        transform: scale(1);
        background-color: rgba(255,255,255,.027);
    }

    100% {
        transform: scale(1.1);
        background-color: rgba(255,255,255,.037);
    }
}

/* --------------------------------------------- MOBILE POSTER CREATION --------------------------------------------- */
@media only screen and (min-device-width: 375px) and (max-device-width: 667px) and (-webkit-min-device-pixel-ratio: 2) and (orientation: portrait) {
    .poster-creation-wrapper {
        width: 300px;
        margin-right: 0;
        padding: 1rem;
    }

    .create-poster-form { width: 300px; }
}

/* --------------------------------------------- ACHIEVEMENTS PAGE --------------------------------------------- */
.achivements-section {
    margin-left: 20rem;
    margin-top: 2rem;

    width: 100vw;
    height: calc(100vh - 2rem);
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    justify-content: flex-start;
}

.achivement {
    box-shadow: 0 25px 50px rgba(0, 0, 0, 0.2);
    background: transparent;
    backdrop-filter: blur(10px);
    border-radius: 30px;
    width: 600px;
    height: 100px;
    transform: translateX(-1rem);

    color: white;
    padding: 1rem;
    padding-left: 1.5rem;
}

/* --------------------------------------------- POSTER DETAIL PAGE --------------------------------------------- */

.poster-detail-section {
    box-shadow: 0 25px 50px rgba(0, 0, 0, 0.2);
    background: transparent;
    backdrop-filter: blur(10px);
    border-radius: 30px;

    width: 800px;
    height: 600px;

    padding: 2rem;

    display: flex;
    flex-direction: column;
    align-items: center;
}

.poster-detail-title h1 {
    font-size: 2rem;
}

.line {
    width: 80%;
    height: 2px;
    background-color: rgba(0,0,0,.3);
    border-radius: 30px;
    margin: 1rem 0;
}

.poster-detail-description {
    width: 80%;
    height: 400px;

    text-align: center;
}

.poster-detail-eventdate {
    position: absolute;
    top: 20px;
    right: 30px;
}

.poster-detail-sportype {
    width: 500px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.poster-detail-sportype.sport-icon img {
        width: 50px;
        height: 50px;
}

.poster-detail-sportype-item {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

/* --------------------------------------------- MOBILE POSTER DETAIL PAGE --------------------------------------------- */
@media only screen and (min-device-width: 375px) and (max-device-width: 667px) and (-webkit-min-device-pixel-ratio: 2) and (orientation: portrait) {
    .poster-detail-section {
        width: 250px;
    }

    .poster-detail-eventdate {
        top: 15px;
        right: 100px;
        font-size: .7rem;
    }

    .poster-detail-description {
        height: 600px;
    }

    .poster-detail-sportype {
        width: 300px;
    }
}