@using Microsoft.EntityFrameworkCore.Metadata.Internal
@using Newtonsoft.Json


<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="initial-scale=1.0, user-scalable=no">
    <meta charset="utf-8">
    <title>Users geolocations</title>
    <style>
        html, body, #map 
        {
            height: 100%;
            margin: 0px;
            padding: 0px
        }

        #autoc
        {
            width: 100%;
            box-sizing: border-box;
        }
    </style>
    
    <script>
    var LocationList = @Html.Raw(Json.Serialize(ViewBag.Locations));
    function initMap() {
      const map = new google.maps.Map(document.getElementById("map"), {
        zoom: 3,
        center: { lat: 49.829526, lng: 24.015136 },
      });

      const labels = "ABCDEFGHIJKLMNOPQRSTUVWXYZ";

         var list_location = []
          
          for (var x=0;x<LocationList.length;x++)
          {
             list_location.push({lat: parseFloat(LocationList[x].split(',')[0]), lng: parseFloat(LocationList[x].split(',')[1])});
          }
      
      const markers = list_location.map((location, i) => {
        return new google.maps.Marker({
          position: location,
          label: labels[i % labels.length],
        });
      });

    var markerCluster = new MarkerClusterer(map, markers,
                {imagePath: "https://developers.google.com/maps/documentation/javascript/examples/markerclusterer/m"});
    
    }
    
 
    </script>
    
    <script src="https://unpkg.com/@@googlemaps/markerclustererplus/dist/index.min.js"></script>
    
    <script
        src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBSL0N9YBwnl00XZ8UqRYgX2-YF_S9j3R4&callback=initMap"
        defer
    ></script>
    

    
   
</head>

<body>
<div id="map"></div>
<div id="bar">
    <p class="auto"><input type="text" id="autoc"/></p>
    <p><a id="clear" href="#">Click here</a> to clear map.</p>
</div>
</body>
</html>
