<div class="weather">
    <div id="m-booked-bl-simple-week-vertical-95814" />
    <div class="booked-wzs-160-275 weather-customize" style="background-color:#137AE9; width:249px;" id="width3 ">
        <a target="_blank" class="booked-wzs-top-160-275" href="https://www.booked.net/">
            <img src="//s.bookcdn.com/images/letter/s5.gif" alt="Booked net" />
        </a>
        <div class="booked-wzs-160-275_in">
            <div class="booked-wzs-160-275-data">
                <div class="booked-wzs-160-275-left-img wrz-03"></div>
                <div class="booked-wzs-160-275-right">
                    <div class="booked-wzs-day-deck">
                        <div class="booked-wzs-day-val">
                            <div class="booked-wzs-day-number">-2</div>
                            <div class="booked-wzs-day-dergee">
                                <div class="booked-wzs-day-dergee-val">&deg;</div>
                                <div class="booked-wzs-day-dergee-name">C</div>
                            </div>
                        </div>
                        <div class="booked-wzs-day">
                            <div class="booked-wzs-day-d">-1&deg;</div>
                            <div class="booked-wzs-day-n">-3&deg;</div>
                        </div>
                    </div>
                    <div class="booked-wzs-160-275-info">
                        <div class="booked-wzs-160-275-city">Lviv</div>
                        <div class="booked-wzs-160-275-date">Wednesday, 09</div>
                    </div>
                </div>
            </div>
            <a target="_blank" href="https://www.booked.net/weather/lviv-4436" class="booked-wzs-bottom-160-275">
                <table cellpadding="0" cellspacing="0" class="booked-wzs-table-160">
                    <tr>
                        <td class="week-day">
                            <span class="week-day-txt">Thursday</span>
                        </td>
                        <td class="week-day-ico">
                            <div class="wrz-sml wrzs-18"></div>
                        </td>
                        <td class="week-day-val">
                            <span class="plus">+</span>4&deg;
                        </td>
                        <td class="week-day-val">0&deg;</td>
                    </tr>
                    <tr>
                        <td class="week-day">
                            <span class="week-day-txt">Friday</span>
                        </td>
                        <td class="week-day-ico">
                            <div class="wrz-sml wrzs-18"></div>
                        </td>
                        <td class="week-day-val">
                            <span class="plus">+</span>5&deg;
                        </td>
                        <td class="week-day-val">
                            <span class="plus">+</span>2&deg;
                        </td>
                    </tr>
                    <tr>
                        <td class="week-day">
                            <span class="week-day-txt">Saturday</span>
                        </td>
                        <td class="week-day-ico">
                            <div class="wrz-sml wrzs-18"></div>
                        </td>
                        <td class="week-day-val">
                            <span class="plus">+</span>5&deg;
                        </td>
                        <td class="week-day-val">
                            <span class="plus">+</span>3&deg;
                        </td>
                    </tr>
                    <tr>
                        <td class="week-day">
                            <span class="week-day-txt">Sunday</span>
                        </td>
                        <td class="week-day-ico">
                            <div class="wrz-sml wrzs-18"></div>
                        </td>
                        <td class="week-day-val">
                            <span class="plus">+</span>6&deg;
                        </td>
                        <td class="week-day-val">
                            <span class="plus">+</span>3&deg;
                        </td>
                    </tr>
                    <tr>
                        <td class="week-day">
                            <span class="week-day-txt">Monday</span>
                        </td>
                        <td class="week-day-ico">
                            <div class="wrz-sml wrzs-18"></div>
                        </td>
                        <td class="week-day-val">
                            <span class="plus">+</span>5&deg;
                        </td>
                        <td class="week-day-val">
                            <span class="plus">+</span>4&deg;
                        </td>
                    </tr>
                    <tr>
                        <td class="week-day">
                            <span class="week-day-txt">Tuesday</span>
                        </td>
                        <td class="week-day-ico">
                            <div class="wrz-sml wrzs-03"></div>
                        </td>
                        <td class="week-day-val">
                            <span class="plus">+</span>4&deg;
                        </td>
                        <td class="week-day-val">
                            <span class="plus">+</span>4&deg;
                        </td>
                    </tr>
                </table>
                <div class="booked-wzs-center">
                    <span class="booked-wzs-bottom-l">See 7-Day Forecast</span>
                </div>
            </a>
        </div>
    </div>
</div>