<html>
<head>
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCdBnoFo-32QpUcQ6y-QvcM9QXVy8xHSzw"></script>
    <script src="https://code.jquery.com/jquery-1.9.1.min.js"></script>
</head>
<body>
<div id="myDiv" style="width: 100%; height: 100vh"></div>
    <script>
        $(document).ready(function () {
            
            var myAddress = new google.maps.LatLng(49.8397, 24.0297);

            var mapOptions = {
                center: myAddress,
                zoom: 13,
                mapTypeId: google.maps.MapTypeId.ROADMAP
            };

            var map = new google.maps.Map(document.getElementById("myDiv"), mapOptions);

            var marker = new google.maps.Marker({
                position: myAddress,
                animation: google.maps.Animation.BOUNCE,
            });

            marker.setMap(map);
        });
    </script>
</body>
</html>
