@{
    ViewData["Title"] = "Achivements";
}

<div class="achivements-section">
    @foreach (var achievement in (List<UserAchievement>) ViewData["UserAchievements"])
    {
        <div class="achivement">
            <h1 class="achivement-title">@achievement.Achievement.Name</h1>
            <p class="achivement-description">@achievement.Achievement.Description</p>
        </div>
    }
</div>