@{
    ViewData["Title"] = "Achivements";
}

<div class="achivements-section">
    <div class="achivement">
        <h1 class="achivement-title">Title</h1>
        <p class="achivement-description">Description</p>
    </div>
</div>