@model List<Poster>

@{
    ViewData["Title"] = "Home Page";
}

<div class="sidebar">
    <div class="sidebar-body">
        <div class="sidebar-body-content">
            <div class="option home active">
                <img class="icon home" src="~/icons/home.svg" /><a href="#">Home</a>
            </div>
            <div class="option map">
                <img class="icon map" src="~/icons/map.svg" /><a href="Map">Map</a>
            </div>
            <div class="option map">
                    <a href="PosterCreation">Create new poster</a>
                </div>
        </div>
    </div>
    <div class="sidebar-bottom">
        <div class="profile-picture">
                
        </div>
        <div class="profile-information">
            <h4 class="name-surname">Name Surname</h4>
            <p class="view-profile">View profile</p>
        </div>
        <div class="profile-settings">

        </div>
    </div>
</div>