@model List<Poster>

@{
    ViewData["Title"] = "Home Page";
}

<div class="sidebar">
    <div class="sidebar-body">
        <ul>
            <li><a href="#">Test option</a></li>
            <li><a href="#">Test option</a></li>
            <li><a href="#">Test option</a></li>
            <li><a href="#">Test option</a></li>
            <li><a href="#">Test option</a></li>
            <li><a href="#">Test option</a></li>
        </ul>
    </div>
    <div class="sidebar-bottom">
        <div class="profile-picture">
                
        </div>
        <div class="profile-information">
            <h4 class="name-surname">Name Surname</h4>
            <p class="view-profile">View profile</p>
        </div>
        <div class="profile-settings">

        </div>
    </div>
</div>